  body {
    font-family: Helvetica, sans-serif;
  }
  p { 
    margin: 5px; 
    text-align: center;
  }
  body,
  input,
  button {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #353740;
  }
  body {
    margin: 0;
    height: 100%;
  }
  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
  }
  
  .loader {
    margin-top: 30px;
    align-self: center;
  }
  
  form,
  .result {
    width: 700px;
    max-width: 90vw;
  }
  
  form {
    display: flex;
  }
  input[type="text"] {
    padding: 6px 10px;
    border: 1px solid #acacbe;
    border-radius: 5px;
    flex: 1;
  }
  input[type="submit"] {
    margin-left: 6px;
    padding: 6px 10px;
    background-color: #ececf1;
    border: 1px solid #acacbe;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #d9d9e3;
  }
  input[type="submit"]:active {
    background-color: #c5c5d2;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8e8ea0;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8e8ea0;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #8e8ea0;
  }
  
  .result {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .traitDescr {
    font-size: 8px; 
    color: #9DBDBA;
  }

  .footer {
    color: #aaa;
    font-size: 18px;
    padding: 0 10px 10px;
    text-align: center;
  }
  .footer a {
    color: #aaa;
  }
  .footer a:hover {
    color: #666;
  }